<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/spectre.min.css">
    <title>GopherSnippets - Go code snippets</title>
</head>
<body>
<div class="container">
    <div class="columns">
        <div class="column col-xs-4"></div>
        <div class="column col-xs-4">
            <h2 class="text-dark">GopherSnippets</h2>
            <p class="cite">Code snippets with tests and testable examples for the Go programming language</p>
            {{ $repo := .Repo}}
            <dl>
                {{range $category := .Categories}}
                    <dt>{{$category}}</dt>
                    {{- range $snippet := index $.Snippets $category }}
                        <dd><a href="https://gophersnippets.com/{{$snippet.DirectoryName}}">{{$snippet.Title}}</a></dd>
                    {{- end -}}
                {{end}}
            </dl>
            <p>
                <span class="text-gray">by</span> <a href="https://github.com/psampaz" class="text-gray">psampaz</a> - <a href="https://github.com/psampaz/gophersnippets" class="text-gray">source code</a>
            </p>
        </div>
        <div class="column col-xs-4"></div>
    </div>
</div>
</body>
</html>