<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/spectre.min.css">
    <link rel=stylesheet href="css/highlight.css">
    <title>{{.Snippet.Title}} - GopherSnippets.com</title>
</head>
<body>
<div class="container">
    <div class="columns">
        <div class="column col-xs-4"></div>
        <div class="column col-xs-4">
            <h2 class="text-dark">GopherSnippets</h2>
            <p class="cite">Code snippets with tests and testable examples for the Go programming language</p>
            <h4>{{.Snippet.Title}}</h4>
            <a href="https://gophersnippets.com">Snippets Index</a> - <a target="_blank" href="{{.Snippet.PlaygroundURL}}">Run code on Go playground</a> -
            <a target="_blank"
               href="{{.Repo.Path}}/blob/master/snippets/{{.Snippet.DirectoryName}}/main_test.go">Edit</a>
            <p>
                {{.Snippet.GetHighlightedCode}}
            </p>
            <p>
                <span class="text-gray">by</span> <a href="https://github.com/psampaz" class="text-gray">psampaz</a> -
                <a href="https://github.com/psampaz/gophersnippets" class="text-gray">source code</a> - <span class="text-gray">comment below or</span> <a target="_blank"
                                                                                                                               href="{{.Repo.Path}}/issues/{{.Snippet.IssueID}}" class="text-gray">here</a>
            </p>
            <script src="https://utteranc.es/client.js"
                    repo="psampaz/gophersnippets"
                    issue-number="{{.Snippet.IssueID}}"
                    theme="github-light"
                    crossorigin="anonymous"
                    async>
            </script>
        </div>
        <div class="column col-xs-4"></div>
    </div>
</div>

</body>
</html>
